@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-kufam: "Kufam", "sans-serif"; 
    --font-sans3: "Source Sans 3", "serif";
    --font-inter: "Inter", "serif";


    --color-primary: #3B3A5D; 
    --color-secondary: #FFBB50; 
    --color-content: #8F8F8F; 
    --color-link: #B16642; 
    --color-border: #B16642; 


    --bg-baner: url('/banner.png');
  }

  @plugin "@tailwindcss/typography";